@import 'normalize-8.0.1';

// apply a natural box layout model to all elements
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 14pt;
  padding: 0 1em;
}

header {
  padding: 1em;
  text-align: right;

  h1,
  h2 {
    margin: 0;
  }
}

header,
aside {
  h2 {
    font-style: italic;
  }
}

.post-date {
  font-style: italic;
  font-weight: bold;
}

.post-title {
  margin-top: 0;
}

img {
  border: 5px solid black;
  margin: 1em;
  width: 100%;
}

article + article {
  padding-top: 2em;
}

aside,
footer {
  min-width: 20%;
}

pre {
  background: #1e1e1e;
  color: white;
  padding: 5px;
}

dt {
  font-weight: bold;
}

h1 {
  font-size: 225%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 131.25%;
}

h4,
h5,
h6 {
  font-size: 112.5%;
}

h5,
h6 {
  font-style: italic;
}

h6 {
  font-weight: normal;
}

// SYNTAX HIGHLIGHTING
// FROM DEFAULT WEBLORG THEME
// https://github.com/emacs-love/weblorg/blob/main/themes/default/static/style.css
:root {
  /* -- Code Block Colors -- */
  /* --- Monokai Theme */
  --cl-code-monokai-background:   #272822;
  --cl-code-monokai-foreground:   #F8F8F2;
  --cl-code-monokai-comment:      #75715E;
  --cl-code-monokai-red:          #F92672;
  --cl-code-monokai-orange:       #FD971F;
  --cl-code-monokai-light-orange: #E69F66;
  --cl-code-monokai-yellow:       #E6DB74;
  --cl-code-monokai-green:        #A6E22E;
  --cl-code-monokai-blue:         #66D9EF;
  --cl-code-monokai-purple:       #AE81FF;

  /* --- Theme Variables */
  --cl-code-background:           var(--cl-code-monokai-background);
  --cl-code-foreground:           var(--cl-code-monokai-foreground);
  --cl-code-builtin:              var(--cl-code-monokai-green);
  --cl-code-comment:              var(--cl-code-monokai-comment);
  --cl-code-function-name:        var(--cl-code-monokai-green);
  --cl-code-keyword:              var(--cl-code-monokai-red);
  --cl-code-string:               var(--cl-code-monokai-yellow);
  --cl-code-type:                 var(--cl-code-monokai-blue);
  --cl-code-variable-name:        var(--cl-code-monokai-orange);
}

/* -- Code Blocks -- */
.org-builtin          { color: var(--cl-code-builtin); }
.org-doc              { color: var(--cl-code-doc); }
.org-function-name    { color: var(--cl-code-function-name); }
.org-keyword          { color: var(--cl-code-keyword); }
.org-string           { color: var(--cl-code-string); }
.org-type             { color: var(--cl-code-type); }
.org-variable-name    { color: var(--cl-code-variable-name); }
.org-comment, .org-comment-delimiter { color: var(--cl-code-comment); }
.org-src-container    { color: var(--cl-code-foreground);
                        background: var(--cl-code-background);
                        border: 1px solid var(--cl-border-src);
                        padding: 0px 15px;
                        max-width: 100%;
                        overflow-y: scroll;
                        border-radius: 5px; }
